<html>
<head>
<title>ColorMe</title>
</script>
</head>
<style type="text/css">
  body {
    font-family:"Lucida Sans Unicode"
  }
</style>

<body>
<script type="text/javascript">
  var API_KEY = 'ZGVAKWNW7O9YDBOOD';
  var URL_BASE = 'http://developer.echonest.com/api/v4/';

  function query(url) {
    console.log(url);
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;

  }

  function querySongs(artist) {
    var url = URL_BASE + 'song/search?api_key=' + API_KEY + 
      '&artist=' + artist.replace(/ /g, '+') + 
      '&bucket=audio_summary';
      return query(url);
  }

  function calcHue(audio_summary) {
    sp = audio_summary.speechiness;
    ac = audio_summary.acousticness;
    li = audio_summary.liveness;
    if (sp > ac && sp > li) {
      return sp * 120 + 60;
    } else if (ac > sp && ac > li) {
      return ac * 120 + 180;
    } else if (li > sp && li > ac) {
      return ac * 120 + 300;
    } else {
      console.log('wat?');
      return 250;
    }
  }

  function calcAlpha(loudness) {
    return (loudness + 100) / 267 + .25;
  }

  function getColor(song) {
    var audio_summary = song.audio_summary;

    var hue = calcHue(audio_summary);
    var sat = audio_summary.energy * 100;
    var lit = audio_summary.danceability * 100;
    var alpha = calcAlpha(audio_summary.loudness); 

    return {h:hue, s:sat, l:lit, a:alpha};
  }

  function getHSLA(hsla) {
    var csv = hsla.h + "," + hsla.s + "%," + hsla.l + "%," + hsla.a;
    return "hsla(" + csv + ")";
  }

  function getStyle(hsla) {
    var div = "style=\"background-color: " + getHSLA(hsla) + ";\"";
    //var div = "<div style=\"background-color: hsla(" + csv + ");\"></div>";
    return div;
  }

  function drawCanvas(song) {
    WIDTH = 1200;
    document.write("<h2>" + song.title + "</h2>");
    document.write("<canvas id=\"block\" width=\"" + WIDTH 
                   + "\" height=\"100\">" + "</canvas>");
    var canvas = document.getElementById("block");
    var context = canvas.getContext("2d");

    deets = query(song.audio_summary.analysis_url);
    console.log(song.audio_summary.analysis_url);
    segments = JSON.parse(deets).segments;
    width = WIDTH / segments.length;

    var color = getColor(song);
    for(var i = 0; i < segments.length; i++) {
      alpha = calcAlpha(segments[i].loudness_start);
      light = .5 * (color.l + timbreCalc(segments[i].timbre));
      sectionColor = {h:color.h,s:color.s,l:light,a:alpha};
      context.fillStyle = getHSLA(sectionColor);
      context.fillRect(i*width,0,(i+1)*width,100);
    }
  }

  function timbreCalc(timbre) {
    return timbre[1] + 100 / 267;
  }

  var artist = '{{ artist }}';
  artist = artist.replace(/\+/g, " ");
  console.log(artist);
  var beyonce = querySongs(artist);
  var beysongs = JSON.parse(beyonce).response.songs;
  if (beysongs == undefined || beysongs[0] == undefined) {
    document.write("<h3>Your artist " + artist + " doesn't exist. " + 
                   "We chose a better one.</h3>");
    artist = 'beyonce'
    beysongs = JSON.parse(querySongs(artist)).response.songs; 
  }

  document.write("<h1>THE COLORS OF " + artist.toUpperCase() + "</h1>");
  drawCanvas(beysongs[0]);
  var str = "<h2>more " + artist + "</h2><ul>"
  for (var i = 1; i < beysongs.length; i++) {
    bsong = beysongs[i].title;
    str += "<li " + getStyle(getColor(beysongs[i])) 
                  + ">" + bsong + "</li>";
  }
  document.write(str + "</ul>");
  
</script>
<div>
  <h1>What Does It All Mean??!?</h1>
  <p>This app is powered by <a href='http://echonest.com/'>the Echo Nest</a>,
  which has a massive music database. When I started designing this, I
  decided to use <a href='http://css-tricks.com/yay-for-hsla/'>HSLa color
  values</a>, which breaks down colors into the hue, saturation, light,
  and alpha (transparency) values. I thought this breakdown would provide a
  more interesting characteristic for unique songs than the more commonly
  used RGB values.  </p>
  <ul> 
  <li><b>Hue</b> <p> Songs are divided into categories based on three
  characteristics: acousticness, speechiness, and liveness. Acoustic
  artists, like Jack Johnson, are in the purple-blue spectrum. Songs with
  high speechiness are green--try Jay Z or Pitbull. Lively songs are pink, as
  you've seen with Beyonce.</p></li>
  <li><b>Saturation</b> <p>This determines how bright or dull a color is, and is
  based on the energy of a song. Chill artists, like Bon Iver or Phish, are
  duller, while any high-energy pop song will be brighter.<p></li>
  <li><b>Light</b><p> This is the brightness of a song. It's determined by a
  combination of the danceability (which is constant for any given song) and
  a characteristic known as brightness. Ask a musician for a better
  explanation of what brightness is.</p></li>
  <li><b>Transparency</b><p> The transparency is determined by how loud a
  song is. Check out Skrillex--the dark spot 2/3 of the way through
  Bangarang is the drop. </p>
</div>
</div>
  <h2>How Do I Use It??</h2>
  Add any artist onto the end of the url. Replace spaces with plus signs (+).
  For example, <a href="http://54.235.157.129:5000/jack+johnson">
                        http://54.235.157.129:5000/jack+johnson</a> or
  <a href="http://54.235.157.129:5000/skrillex">
           http://54.235.157.129:5000/skrillex</a>. Maybe I'll host it on a
  proper domain sometime...
</body>
<footer style="font-size:12px"> 
  <p> Built by Marcella Hastings at the 2013 Music Hack Day.
  Source code available on 
  <a href='https://github.com/marsella/colorme'>Github</a>.
  Powered by <a href='http://echonest.com/'>the Echo Nest</a>
</footer>
</html>



