<html>
<head>
<title>ColorMe</title>
</script>
</head>
<style type="text/css">
  body {
    font-family:"Lucida Sans Unicode"
  }
</style>

<body>
<script type="text/javascript">
  var API_KEY = 'ZGVAKWNW7O9YDBOOD';
  var URL_BASE = 'http://developer.echonest.com/api/v4/';

  function query(url) {
    console.log(url);
    var xmlHttp = null;

    xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", url, false );
    xmlHttp.send( null );
    return xmlHttp.responseText;

  }

  function querySongs(artist) {
    var url = URL_BASE + 'song/search?api_key=' + API_KEY + 
      '&artist=' + artist.replace(/ /g, '+') + 
      '&bucket=audio_summary';
      return query(url);
  }

  function calcHue(audio_summary) {
    sp = audio_summary.speechiness;
    ac = audio_summary.acousticness;
    li = audio_summary.liveness;
    if (sp > ac && sp > li) {
      return sp * 120 + 60;
    } else if (ac > sp && ac > li) {
      return ac * 120 + 180;
    } else if (li > sp && li > ac) {
      return ac * 120 + 300;
    } else {
      console.log('wat?');
      return 250;
    }
  }

  function calcAlpha(loudness) {
    return (loudness + 100) / 267 + .25;
  }

  function getColor(song) {
    var audio_summary = song.audio_summary;

    var hue = calcHue(audio_summary);
    var sat = audio_summary.energy * 100;
    var lit = audio_summary.danceability * 100;
    var alpha = calcAlpha(audio_summary.loudness); 

    return {h:hue, s:sat, l:lit, a:alpha};
  }

  function getHSLA(hsla) {
    var csv = hsla.h + "," + hsla.s + "%," + hsla.l + "%," + hsla.a;
    return "hsla(" + csv + ")";
  }

  function getStyle(hsla) {
    var div = "style=\"background-color: " + getHSLA(hsla) + ";\"";
    //var div = "<div style=\"background-color: hsla(" + csv + ");\"></div>";
    return div;
  }

  function drawCanvas(song) {
    WIDTH = 1200;
    document.write("<h2>" + song.title + "</h2>");
    document.write("<canvas id=\"block\" width=\"" + WIDTH 
                   + "\" height=\"100\">" + "</canvas>");
    var canvas = document.getElementById("block");
    var context = canvas.getContext("2d");

    deets = query(song.audio_summary.analysis_url);
    console.log(song.audio_summary.analysis_url);
    segments = JSON.parse(deets).segments;
    width = WIDTH / segments.length;

    var color = getColor(song);
    for(var i = 0; i < segments.length; i++) {
      alpha = calcAlpha(segments[i].loudness_start);
      light = .5 * (color.l + timbreSaturation(segments[i].timbre));
      sectionColor = {h:color.h,s:color.s,l:light,a:alpha};
      context.fillStyle = getHSLA(sectionColor);
      context.fillRect(i*width,0,(i+1)*width,100);
    }
  }

  function timbreSaturation(timbre) {
    return timbre[1] + 100 / 267;
  }

  var artist = '{{ artist }}';
  console.log( artist);
  document.write("<h1>THE COLORS OF " + artist.toUpperCase() + "</h1>");
  var beyonce = querySongs(artist);
  beysongs = JSON.parse(beyonce).response.songs;

  drawCanvas(beysongs[0]);
  var str = "<h2>more " + artist + "</h2><ul>"
  for (var i = 1; i < beysongs.length; i++) {
    bsong = beysongs[i].title;
    str += "<li " + getStyle(getColor(beysongs[i])) 
                  + ">" + bsong + "</li>";
  }
  document.write(str + "</ul>");
  
</script>

</body>
</html>



